[Unit]
Description=webthing-iotjs
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/src/webthing-iotjs
ExecStart=/usr/local/src/webthing-iotjs/tools/systemd/webthing-iotjs.sh
Restart=always

[Install]
WantedBy=multi-user.target
