{
  "ignore": [
    "node_modules/**.js"
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-template-literals"
  ]
}
